a.option-block {
  display: block;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: bold;
  border: #1d3557 3px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.rent {
    background-color: #185B80;
  }

  &.rent:hover {
    background-color: #247099;
  }

  &.need-sub {
    background-color: #566e3d;
  }

  &.need-sub:hover {
    background-color: #708758;
  }

  &.sub-place {
    background-color: #fa7921;
  }

  &.sub-place:hover {
    background-color: #FF8F42;
  }

  &.roommate {
    background-color: #DC4057;
  }

  &.roommate:hover {
    background-color: #DC5C6F;
  }
}

.option-text {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {

  .prop-icon {
    display: block;
    float: none;
    font-size: 110px;
    margin: 0 0 10px;
  }

  a.option-block {
    text-align: center;
    width: 45%;
    min-height: 245px;
    float: left;
    margin: 2%;
    padding: 2.4em 1.5em 1em;
    
    &.sub-place {
      font-size: 20px;
    }
  }
}
