$sublease-color: #566e3d;

.sublease-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $sublease-color;

  h4.title {
    font-size: 1.4em;
    margin: 0 0 8px;
    padding: 0.4em;

    &.active {
      background-color: $sublease-color;
    }

    &.deactive {
      background-color: #FF4242;
    }

    a {
      color: white;
    }
  }

  .icon-listing {
    line-height: 2px;
  }
  
  .rent {
    font-size: 1.3em;
  }

  .room-bath {
    font-size: 1.3em;
  }

  .availability {
    font-size: 1.1em;
  }

  .end-date {
    font-size: 1.1em;
  }

  .amenity-icon {
    color: $sublease-color;
    margin-right: 4px;
  }
}

.dropdown-item {
  padding: 3px 20px;
}

.dropdown-item label {
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.trans-enter {
  opacity: 0.01;
}

.trans-enter.trans-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.trans-leave {
  opacity: 1;
}

.trans-leave.trans-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
