.managerRow {
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: 1px solid #e3e3e3;

  &.bg-danger {
    color: #fff;

    a {
      color: #fff;

      &.btn {
        color: #000;
      }
    }

    .dropdown-menu {
      color: #000;

      a {
        color: #000;
      }
    }
  }

}
