<html>
    <head>
        <title>Manager account declined</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>Unfortunately we can not approve your request for a manager account.</p>
        <p>On <?=$inquiry_date?> we asked for more information about your account. Since we have
            not received a response back, we are denying your request.</p>
        <p>Please reply back to our previous email or contact us if you did not receive
            our correspondence.</p>
        <p>&nbsp;</p>
        <p><?=$our_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
