<h2>Forgot password?</h2>
<p>Enter the email address you used to register your account and we will send you a notice to change it.</p>
<form method="post" action="./properties/Manager/forgot" class="form-inline">
    <div class="form-group">
        <label for="manager-forgot-email">Enter your email address:</label>
        <input type="text" name="email" class="form-control" id="manager-forgot-email"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Change my password"/>
</form>