<div>
    <h2>Manager log-in</h2>
    <div class="row">
        <div class="col-sm-6">
            <label for="username">Username:</label><br />
            <input type="text" id="username" name="username" class="form-control"/>
        </div>
        <div class="col-sm-6">
            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
    </div>
</div>
<p>Forgot password?</p>
<p><a href="./properties/ManagerSignup">Request a manager account.</a></p>