<h4>
  <span class="fa-lg">
    <i class="far fa-gem" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
  </span>
  Amenities/Features</h4>
<table class="table table-striped">
  <?php if ($close_to_campus):?>
  <tr>
    <td>Walking distance to campus</td>
  </tr>
  <?php endif; ?>
  <?php if ($no_smoking):?>
  <tr>
    <td>Smoke free</td>
  </tr>
  <?php endif;?>
  <?php if ($furnished):?>
  <tr>
    <td>Furnished</td>
  </tr>
  <?php endif; ?>
  <?php if ($airconditioning === '1'):?>
  <tr>
    <td>Air Conditioning</td>
  </tr>
  <?php endif; ?>
  <?php if ($high_speed):?>
  <tr>
    <td>High speed Internet</td>
  </tr>
  <?php endif;?>
  <?php if ($dishwasher === '1'):?>
  <tr>
    <td>Dishwasher</td>
  </tr>
  <?php endif; ?>
  <?php if ($utilities_inc):?>
  <tr>
    <td>Utilities included</td>
  </tr>
  <?php endif;?>
  <?php if ($clubhouse === '1'):?>
  <tr>
    <td>Clubhouse</td>
  </tr>
  <?php endif; ?>
  <?php if ($appalcart === '1'):?>
  <tr>
    <td>AppalCART</td>
  </tr>
  <?php endif; ?>
  <?php if ($workout_room):?>
  <tr>
    <td>Workout room</td>
  </tr>
  <?php endif;?>
  <?php if ($pool):?>
  <tr>
    <td>Pool</td>
  </tr>
  <?php endif;?>
  <?php if ($pets_allowed === '1'): ?>
  <tr>
    <td>Pets allowed</td>
  </tr>
  <?php endif;?>
</table class="table table-striped">
