<h4>
  <i class="fas fa-money-bill-alt" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
  Expenses
</h4>
<table class="table table-striped info-table">
  <?php if ($admin_fee_amt > 0):?>
  <tr>
    <th>Administrative</th>
    <td>$
      <?=$admin_fee_amt?> <small class="text-muted">(<?=$admin_fee_refund?>)</small></td>
  </tr>
  <?php endif; ?>
  <?php if ($security_amt > 0):?>
  <tr>
    <th>Security fee</th>
    <td>$
      <?=$security_amt?> <small class="text-muted">(<?=$security_refund?>)</small></td>
  </tr>
  <?php endif; ?>
  <?php if ($clean_fee_amt > 0):?>
  <tr>
    <th>Cleaning fee</small>
    </th>
    <td>$
      <?=$clean_fee_amt?> <small class="text-muted">(<?=$clean_fee_refund?>)</td>
  </tr>
  <?php endif;?>
  <?php if ($parking_fee > 0): ?>
  <tr>
    <th>Parking fee</th>
    <td>$<?=$parking_fee?></td>
  </tr>
  <?php endif;?>
  <?php if (!empty($other_fees)): ?>
  <tr>
    <th>Other</th>
    <td><?=$other_fees?></td>
  </tr>
  <?php endif;?>
</table>