<h4>
  <span class="fa-lg">
    <i class="fas fa-check" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
  </span>
  Other information
</h4>
<table class="table table-striped info-table">
  <tr>
    <th>Distance to campus</th>
    <td>
      <?=$campus_distance?>
    </td>
  </tr>
  <tr>
    <th>Contract length</th>
    <td>
      <?=$contract_length?>
    </td>
  </tr>
  <tr>
    <th>Parking per unit</th>
    <td>
      <?=$parking_per_unit?>
    </td>
  </tr>
  <tr>
    <th>Student preference</th>
    <td>
      <?=$student_type?>
    </td>
  </tr>
  <tr>
    <th>Smoking</th>
    <td>
      <?=$no_smoking?>
    </td>
  </tr>
</table>
