<h4>
  <i class="fas fa-paw fa-lg" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
  Pets allowed
</h4>
<?php if (empty($pet_type) && empty($pet_fee) && empty($pet_deposit)): ?>
<p>Contact our office for details.</p>
<?php endif;?>
<table class="table table-striped info-table">
  <?php if (!empty($pet_type)):?>
  <tr>
    <th>Allowed pet types</th>
    <td>
      <?=$pet_type?>
    </td>
  </tr>
  <?php endif; ?>
  <?php if ($pet_fee):?>
  <tr>
    <th>Monthly fee</th>
    <td>$
      <?=$pet_fee?>
    </td>
  </tr>
  <?php endif; ?>
  <?php if ($pet_deposit):?>
  <tr>
    <th>Deposit</th>
    <td>$
      <?=$pet_deposit?> <small class="text-muted">(<?=$pet_dep_refund?>)</small>
    </td>
  </tr>
  <?php endif; ?>
</table>