<h4>
  <span class="fa-lg">
    <i class="fas fa-plug" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
  </span>
  Utilities
</h4>
<table class="table table-striped info-table">
  <tr>
    <th>Laundry</th>
    <td><?=$laundry_type?>
    </td>
  </tr>
  <tr>
    <th>Internet</th>
    <td><?=$internet_type?>
    </td>
  </tr>
  <tr>
    <th>Trash</th>
    <td><?=$trash_type?>
    </td>
  </tr>
  <tr>
    <th>Television</th>
    <td><?=$tv_type?>
    </td>
  </tr>
  <tr>
    <th>Heat Type</th>
    <td><?=$heat_type?>
    </td>
  </tr>
</table>
