
.property-view .contact-info a {
    text-decoration : none;
}


.property-view .header {
    font-size : 20px;
}

.property-view {
    font-size : 16px;
}

.property-view .description {
    margin-top : 1em;
}

.property-view .contact-info {
    margin-top : 1em;
}

.property-view .contact-info h4 {
    font-size : 22px;
    margin : 0px;
    color : black;
}

h3.property-address {
    border-bottom : 1px solid #337AB7;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

h2.property-title, h3.property-address {
    margin : 0px 0px 5px 0px;
}

h2.property-title {
    font-size : 26px;
}

h3.property-address {
    font-size : 22px;
}

#photo .image-gallery-fullscreen-button, #photo .image-gallery-play-button {
    z-index : 5;
}

.dropzone {
    border-style: dashed;
    border-radius: 6px;
    min-height: 220px;
    max-height : 440px;
    overflow: auto;
}

.description .panel-body {
    overflow : auto;
    max-height : 300px;
}