.property-view .contact-info a {
    text-decoration : none;
}

.property-view .header {
    font-size : 20px;
}

.property-view {
    font-size : 16px;
}

.property-view .panel {
    border-color :  #247099;
}

.property-view .panel-heading {
    background-color : #247099;
    color : white;
}

.property-view .panel-heading a h4 {
    color : white;
}

.property-view .description {
    margin-top : 1em;
}

@media (max-width: 991px) {
    .property-view .contact-info {
        margin-top : 1em;
    }
}

.property-view .contact-info h4 {
    font-size : 22px;
    margin : 0px;
    color : black;
}

.property-view h4 {
    margin-top : 1em;
    padding-bottom : 6px;
    border-bottom : 1px solid #185B80;
    color : #185B80;
}

.property-view .contact-info h4 {
    border : none;
}

h3.property-address {
    border-bottom : 1px solid #185B80;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

h2.property-title, h3.property-address {
    margin : 0px 0px 5px 0px;
}

h2.property-title {
    font-size : 26px;
    background-color : #185B80;
    color : white;
    padding : 6px 8px;
    border : 1px solid white;
    border-radius : 4px;
}

h3.property-address {
    font-size : 20px;
}

#photo .image-gallery-fullscreen-button, #photo .image-gallery-play-button {
    z-index : 5;
}

.dropzone {
    border-style: dashed;
    border-radius: 6px;
    min-height: 220px;
    max-height : 440px;
    overflow: auto;
}

.description .panel-body {
    overflow : auto;
    max-height : 300px;
}

table.info-table th {
    width : 40%;
}
