<style>
    .dropdown-toggle:hover {
        cursor : pointer;
    }
</style>
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{PHPWS_HOME_HTTP}">Off Campus Properties</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-group"></i> Managers
                <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="properties/Manager/create"><i class="fa fa-plus"></i> Create</a></li>
                <li><a href="properties/Manager"><i class="fa fa-list"></i> List</a></li>
                <li><a href="properties/Approval"><i class="fa fa-check"></i> Approval</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <!-- BEGIN admin_links -->
        <?php if ($is_deity): ?>
        <li class="dropdown">
            <a href="properties/Settings" class=""><i class="fa fa-cog"></i> Settings</a>
        </li>
        <?php endif; ?>
        <!-- END admin_links -->
        <li>
            <a href="index.php?module=controlpanel"><?=$username?></a>
        </li>
        <li>
            <a href="<?=$logout_uri?>"><i class="fa fa-sign-out"></i> Sign out</a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->