<html>
    <head>
        <title>Manager account inquiry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>Before approving your manager account, we require some more information.
            Please reply back with details on the property you wish to list.</p>
        <p><?=$our_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
