<html>
    <head>
        <title>Manager account inquiry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>Before approving your manager account, we require some more information.<p>
        <p>Please reply back with the following information:</p>
        <ul>
            <li>a description of the property you wish to list; and</li>
            <li>an assertion you are the property owner and not a subleaser or tenant.</li>
        </ul>
        <p>We will reject your application after three days without reply.</p>
        <p><?=$our_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
