<div class="card">
	<div class="card-body">
		<h3 class="card-title">Delete my sublease</h3>
		<p class="card-text">Are you sure you want to delete your sublease? All information, including pictures, will be removed.</p>
		<a href="./properties/Sublease/delete" class="card-link btn btn-outline-success"><i class="fas fa-check text-success"></i>&nbsp;Yes, remove it</a>
		<a href="./properties/Sublease/<?=$id?>" class="card-link btn btn-outline-danger"><i class="fas fa-times text-danger"></i>&nbsp;No, I changed my mind</a>
	</div>
</div>
