.sublease-row {
    margin-bottom : 1em;
    padding: 0px;
    border-bottom: 1px solid #2A48AE;
}
.sublease-row h4.title {
    font-size : 1.4em;
    margin : 0px;
}

.sublease-row .title {
    padding : .4em;
}

.sublease-row .title.active {
    background-color : #2A48AE;
}

.sublease-row .title.deactive {
    background-color : #FF4242;
}

.sublease-row .title a {
    color : white;
}

.sublease-row .rent {
    font-size : 1.5em;
}

.sublease-row .title {
    font-size : 1.4em;
}

.sublease-row .availability {
    font-size : 1.1em;
}

.sublease-row .end-date {
    font-size : 1.1em;
}

.room-bath {
    font-size : 1.3em;
}

.dropdown-item {
    padding : 3px 20px;
}

.dropdown-item label {
    font-weight: normal;
    margin: 0px;
    cursor: pointer;
}

.trans-enter {
    opacity: 0.01;
}

.trans-enter.trans-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.trans-leave {
    opacity: 1;
}

.trans-leave.trans-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.sublease-row span.fa-stack {
    color : #2A48AE;
}