<script type="text/javascript">
  const subleaseId = '<?=$id?>';
  const currentPhotos = <?=$current_photos?>;
  
  let loadSub = () => {}
  
  let banUser = () => {
  }
  
  const deleteSublease = () => {
    if (confirm('Are you sure you want to delete this sublease?')) {
      location.href = './properties/Sublease/delete/' + subleaseId;
    }
  }
  
  const userId = '<?=$user_id?>';
</script>
<div class="sublease-view">
  <?php if($inactive_warning):?>
  <div class="alert alert-danger">Your sublease is not active and no one can view it. <a href="./properties/Sublease/<?=$id?>/edit">Update your sublease to make it active.</a></div>
  <?php endif;?>
  <div class="row">
    <div class="col-sm-8 header">
      <h2 class="sublease-title">Sublease: <?=$name?></h2>
      <h3 class="sublease-address"><a href="<?=$property_map_address?>" target="_blank"><?=$address?>&nbsp;<i class="fa fa-map"></i></a></h3>
      <div><?=$bedroom_no?> bed, <?=$bathroom_no?> bath <?=$proptype?> - <?= '$', $monthly_rent, ' ', $lease_type?></div>
      <div>Availability: <?=$move_in_date?></div>
      <?php if (!empty($inactive_notice)): ?>
      <div class="badge badge-info"><small><em><?=$inactive_notice?></em></small></div>
      <?php endif; ?>
    </div>
    <div class="col-sm-4">
      <div class="card card-success">
        <div class="card-header"><h4>Contact information</h4></div>
        <div class="card-body">
          <a href="<?=$contact_phone_tel?>" target="_blank"><i class="fa fa-phone"></i>&nbsp;<?=$contact_phone?></a><br />
          <a href="mailto:<?=$contact_email?>" target="_blank"><i class="far fa-envelope"></i>&nbsp;Email</a>
        </div>
      </div>
    </div>
  </div>
  <?php if (!empty($description)):?>
  <div class="description card card-primary">
    <div class="card-body">
      <?=$description?>
    </div>
  </div>
  <?php endif; ?>
  <hr />
  <div class="mb-4">
    <?=$photo?>
    <div style="clear:both"></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <?php include $otherInformationTemplate; ?>
    </div>
    <?php if ($has_amenities): ?>
    <div class="col-md-6">
      <?php include $amenitiesTemplate; ?>
    </div>
    <?php endif;// has_amenities?>
  </div>
</div>
<?=$photoupdate?>
<?=$ban_user?>