<html>
    <head>
        <title>Manager account approved</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>&nbsp;</p>
        <p>We have approved your manager account. You may now login.</p>
        <p><a href="<?=$our_website?>"><?=$our_website?>properties/Manager/</a></p>
        <p>&nbsp;</p>
        <p><?=$our_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
