<html>
    <head>
        <title>Manager account declined</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>&nbsp;</p>
        <p>Unfortunately we can not approve your request for a manager account.<br />
            There is another company with a name similar to your submission of <?=$company_name?>.</p>
        <p>If you are the current owner or representative of that company, contact us and we can investigate ownership.</p>
        <p>If you used a company name already in the system because you want to sublease, you do not need a manager account.
            Return to our web site at <?=$our_website?>Sublease to use the sublease option.</p>
        <p>&nbsp;</p>
        <p><?=$our_contact_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
