<html>
    <head>
        <title>Manager account inquiry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><?=$first_name,' ', $last_name?>,</p>
        <p>&nbsp;</p>
        <p>In reviewing your manager application, it appears that you may be trying
        to sublease your property. Manager accounts are strictly for landlords who
        own the property they want to post.</p>
        <p>If you still wish to apply for a manager account, please reply back with
            details on the property you wish to list.</p>
        <p>&nbsp;</p>
        <p><?=$our_name?><br />
            <?=$our_email?><br />
            <?=$our_phone?></p>
    </body>
</html>
