<div class="property-intro">
    <a class="option-block rent" href="./properties/Property/list">
        <span class="prop-icon"><i class="prop-icon far fa-building"></i></span> <span class="option-text">I'm looking for a place to rent</span>
    </a>
    <a class="option-block roommate" href="./properties/Roommate">
        <span class="prop-icon"><i class="prop-icon far fa-comments"></i></span> <span class="option-text">I am looking for a roommate</span>
    </a>
    <a class="option-block need-sub" href="./properties/Sublease">
        <span class="prop-icon"><i class="prop-icon fa fa-suitcase"></i></span> <span class="option-text">I need a sublease</span>
    </a>
    <a class="option-block sub-place" href="./properties/Sublease/create">
        <span class="prop-icon"><i class="prop-icon fa fa-truck"></i></span> <span class="option-text">I need to sublease my place</span>
    </a>
</div>
<div style="clear:both; text-align:center">
    <p><a class="btn btn-lg btn-primary" href="properties/Manager/signin">Rental companies and property owners<br />sign in here</a></p>
</div>
