<style>
    .btn-big {
        font-size:1.8em;
        padding : 1em;
    }

    .property-intro {
        height : 400px;
        padding: 2em;
        background-image: url('mod/properties/img/computer.jpg')
    }
</style>
<div class="property-intro">
    <a href="./properties/Property/list" style="margin-bottom:1em" class="btn btn-block btn-primary btn-big"><i class="fa fa-building-o"></i> I am looking for a place to rent</a>
    <a href="./properties/sublease" style="margin-bottom:1em" class="btn btn-block btn-big  btn-primary"><i class="fa fa-suitcase"></i> I need a short-term sublease</a>
    <a href="./properties/sublease/create" class="btn btn-block btn-big  btn-primary"><i class="fa fa-truck"></i> I am moving and need to sublease my apartment</a>
</div>