<style>
    a.option-block {
        display: block;
        padding: .5em 1em;
        font-size: 20px;
        font-weight: bold;
        border: #1d3557 3px;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        margin-bottom: 1em;
        min-height: 68px;
    }

    a.option-block.rent {
        background-color: #185B80;
    }

    a.option-block.rent:hover {
        background-color: #247099;
    }

    a.option-block.need-sub {
        background-color: #566e3d;
    }

    a.option-block.need-sub:hover {
        background-color: #708758;
    }

    a.option-block.sub-place {
        background-color: #fa7921;
    }

    a.option-block.sub-place:hover {
        background-color: #FF8F42;
    }

    a.option-block.roommate {
        background-color: #DC4057;
    }

    a.option-block.roommate:hover {
        background-color: #DC5C6F;
    }

    .prop-icon {
        font-size: 50px;
        float:left;
        margin-right: 8px;
    }
    
    .option-text {
        margin-top : 10px;
    }

    @media screen and (min-width: 768px) {
        a.option-block.sub-place {
            font-size : 20px;
        }
        
        .prop-icon {
            display: block;
            float:none;
            font-size: 110px;
            margin: 0px 0px 10px 0px;
        }
        a.option-block {
            text-align: center;
            width: 45%;
            min-height: 245px;
            float: left;
            margin: 2%;
            padding: 2.4em 1.5em 1em 1.5em;
        }
    }
</style>
<div class="property-intro">
    <a class="option-block rent" href="./properties/Property/list">
        <span class="prop-icon"><i class="prop-icon fa fa-building-o"></i></span> <span class="option-text">I'm looking for a place to rent</span>
    </a>
    <a class="option-block roommate" href="./properties/Roommate">
        <span class="prop-icon"><i class="prop-icon fa fa-comments-o"></i></span> <span class="option-text">I am looking for a roommate</span>
    </a>
    <a class="option-block need-sub" href="./properties/Sublease">
        <span class="prop-icon"><i class="prop-icon fa fa-suitcase"></i></span> <span class="option-text">I need a short-term sublease</span>
    </a>
    <a class="option-block sub-place" href="./properties/Sublease/create">
        <span class="prop-icon"><i class="prop-icon fa fa-truck"></i></span> <span class="option-text">I need to sublease my place</span>
    </a>
</div>
<div style="clear:both; text-align:center">
    <p><a class="btn btn-lg btn-primary" href="properties/Manager/signin">Rental companies and property owners sign in here</a></p>
</div>
