<div>
    <div class="row">
        <div class="col-sm-8">
            <h2 class="property-title"><?=$name?></h2>
            <h3 class="property-address"><a href="<?=$property_map_address?>" target="_blank"><?=$address?>&nbsp;<i class="fa fa-map"></i></a></h3>
            <p class="room-rent"><?=$bedroom_no?> bed<?=$bedroom_no>1?'s':null?>, <?=$bathroom_no?> bath<?=$bathroom_no>1?'s':null?> - <?= '$', $monthly_rent, ' ', $lease_type?></p>
        </div>
        <div class="col-sm-4">
            <div class="contact-info bg-primary">
                <h4>Contact Us!</h4>
                <div class="contact-link"><a href="tel:$phone" target="_blank"><i class="fa fa-phone"></i>&nbsp;<?=$phone?></a></div>
                <div class="contact-link"><a href="mailto:<?=$email_address?>" target="_blank"><i class="fa fa-envelope"></i>&nbsp;Email</a></div>
                <?php if (!empty($company_address)):?>
                <div class="contact-link"><a href="<?=$company_map_address?>" target="_blank"><i class="fa fa-map"></i>&nbsp;Visit</a></div>
                <?php endif;?>
            </div>
        </div>
    </div>
    <hr />
    <div class="well-small">
        <?=$description?>
    </div>

    <h2>Fees</h2>
    <div class="fee">
        Administrative <?= '$' . $admin_fee_amt?> <?=$admin_fee_refund?>
    </div>

    <?php if ($clean_fee_amt > 0):?>
    <div>Cleaning fee
        <?=$clean_fee_amt?><br />
        <?=$clean_fee_refund === '1' ? 'Refunded' : 'No refund'?>
    </div>
    <?php endif;?>
    <div class="">
        <?=$furnished === '1' ? 'Furnished' : 'Unfurnished'?>
    </div>

    <?php if ($efficiency === '1'):?>
    <div>
        Efficiency
    </div>
    <?php endif; ?>

    <?php if ($appalcart === '1'):?>
    <div>
        On appalcart route
    </div>
    <?php endif; ?>

    <div>
        Distance from campus:
        <?=$campus_distance?>
    </div>

    <div>
        Contract length
        <?=$contract_length?>
    </div>
    <div>
        Internet
        <?=$internet_type?>
    </div>


    <?php if ($airconditioning === '1'):?>
    <div>
        Air Conditioning
    </div>
    <?php endif; ?>

    <?php if ($dishwasher === '1'):?>
    <div>
        Dishwasher
    </div>
    <?php endif; ?>

    <?php if ($clubhouse === '1'):?>
    <div>
        Clubhouse
    </div>
    <?php endif; ?>

    <div>
        Rent
        
    </div>

    <div>
        Laundry type
        <?=$laundry_type?>
    </div>

    <div>
        <?=$move_in_date?>
    </div>

    <?php if (!empty($other_fees)): ?>
    <div>
        Other fees
        <?=$other_fees?>
    </div>
    <?php endif;?>

    <?php if (!empty($parking_fee)): ?>
    <div>
        Parking fee
        $<?=$parking_fee?>
    </div>
    <?php endif;?>


    <div>Parking per unit: <?=$parking_per_unit?></div>

    <?php if ($pets_allowed === '1'): ?>
    <div>
        <?php if ($pet_fee) {echo 'Fee: ' . $pet_fee;}?>
        Deposit:
        <?=$pet_deposit?>
        <?=$pet_dep_refund?>
        Allowed pet types:
        <?=$pet_type?>
    </div>
    <?php endif; ?>

    <div>
        Security fee: <?=$security_amt?>
        <?=$security_refund?>
    </div>

    <div>
        Student type <?=$student_type?>
    </div>

    <div>
        <?=$sublease === '0' ? 'May not sublease' : '' ?>
    </div>

    <div>
        Trash: <?=$trash_type?>
    </div>

    <div>
        <p>Utility help</p>
        <p>Water: <?=$util_water?></p>
        <p>Trash: <?=$util_trash?></p>
        <p>Power: <?=$util_power?></p>
    </div>

    <div>
        Television type: <?=$tv_type?>
    </div>

    <?php if ($utilities_inc):?>
    <div>
        Utilities included
    </div>
    <?php endif;?>

    <?php if ($workout_room):?>
    <div>
        Workout room
    </div>
    <?php endif;?>
</div>
