.fa.required {
    color : #FF6C6C;
}

.error-highlight {
    border-color : red;
}

.company-name {
    font-size : 1.3em;
    font-weight : bold;
}

.manager-row {
    font-size : 1.2em;
    border : 1px solid #b3b3b3;
    padding : 5px;
    border-radius : 5px;
    margin-bottom : 1em;
}

.link-button {
    margin-right : 5px;
}

label, input {
    margin-right : 5px;
}

.marginTop {
    margin-top : 1em;
}

.marginBottom {
    margin-bottom : 1em;
}

.marginRight {
    margin-right : 1em;
}

.marginLeft {
    margin-left : 1em;
}

.pointer {
    cursor:pointer;
}

.form-section {
    padding-bottom: 1em;
    border-bottom : 1px solid #e3e3e3;
    margin-bottom : 1em;
}

.form-section a {
    font-size : 1.2em;
    color: #337AB7;
}

.helperClass {
    z-index: 1200;

}

.handle:hover {
    cursor : move;
}

div.alert a {
    color: inherit;
    font-weight: bold;
}

.navbar-nav a.navbar-btn {
    padding : 6px 12px;
    margin : 8px 0px;
}

.dropdown-toggle {
    z-index: 100;
}