<div class="roommate-view container">
  <?php if ($contact_allowed):?>
  <div class="contact-info card mb-3">
    <div class="card-header bg-primary text-white"><h2 class="text-center m-0"><?=$name?></h2></div>
    <div class="card-body">
      <div class="email">
        <a href="mailto:<?=$email?>">
          <i class="far fa-envelope"></i>&nbsp;<?=$email?></a>
      </div>
      <div class="phone">
        <a href="tel:+1<?=$phone?>">
          <i class="fa fa-phone"></i>&nbsp;<?=$phone_format?>
        </a>
      </div>
      <?php if($social_media): ?>
      <?php if (!empty($facebook)):?>
      <a class="social" href="<?=$facebook?>">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <?php endif;//facebook?>
      <?php if (!empty($twitter)):?>
      <a class="social" href="<?=$twitter?>">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <?php endif;//twitter?>
      <?php if (!empty($instagram)):?>
      <a class="social" href="<?=$instagram?>">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <?php endif; //instagram?>
      <?php endif;//social_media?>
    </div>
  </div>
  <?php endif;//contact_allowed?>

  <?php if (!$contact_allowed):?>
  <div class="contact-info card mb-3">
    <div class="card-body">
      <div class="card-text">
        <div>You will need to <a href="<?=$login?>">log-in</a> to get contact information for this roommate!</div>
      </div>
    </div>
  </div>
  <?php endif;//!contact_allowed?>

  <?=$active ? null : '<div class="text-center alert alert-danger">Your request is disabled and no one can view it. <a href="./properties/Roommate/edit">Update your roommate request</a> to enable</div>'?>
  <h3>
    Ready to move: <?=$move_in_date?>
  </h3>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <fieldset>
        <legend>About me</legend>
        <?php if (!empty($politics)):?>
        <p>
          <strong>My politics lean towards...</strong><br />
          <?=$politics?>
        </p>
        <?php endif;//politics?>
        <?php if (!empty($free_time)):?>
        <p>
          <strong>In my free time:</strong><br />
          <?=$free_time?>
        </p>
        <?php endif;//free_time?>
        <?php if (!empty($loudness)):?>
        <p>
          <strong>I'd describe my volume as...</strong><br />
          <?=$loudness?>
        </p>
        <?php endif;//loudness?>
        <?php if (!empty($music)):?>
        <p>
          <strong>Music I enjoy:</strong><br />
          <?=implode(', ', $music)?>
        </p>
        <?php endif;//music?>
        <?php if (!empty($languages)):?>
        <p>
          <strong>The languages I speak:</strong><br />
          <?=implode(', ', $languages)?>
        </p>
        <?php endif;//languages?>
      </fieldset>
    </div>
    <?php if ($college_life || $living_habits):?>
    <?php if ($college_life):?>
    <div class="col-sm-6 col-md-4">
      <fieldset>
        <legend>College life</legend>
        <?php if (!empty($major)):?>
        <p>
          <strong>My major...</strong><br />
          <?=$major?>
        </p>
        <?php endif;//major?>
        <?php if (!empty($focus)):?>
        <p>
          <strong>My focus...</strong><br />
          <?=$focus?>
        </p>
        <?php endif;//focus?>
        <?php if (!empty($wake_time)):?>
        <p>
          <strong>I tend to wake up around...</strong><br />
          <?=$wake_time?>
        </p>
        <?php endif;//wake_time?>
        <?php if (!empty($sleep_time)):?>
        <p>
          <strong>I tend to go to bed around...</strong><br />
          <?=$sleep_time?>
        </p>
        <?php endif;//sleep_time?>
        <?php if (!empty($study_time)):?>
        <p>
          <strong>I tend to study...</strong><br />
          <?=$study_time?>
        </p>
        <?php endif;//study_time?>
      </fieldset>
    </div>
    <?php endif;//college_life || living_habits?>
    <?php if($living_habits):?>
    <div class="col-sm-6 col-md-4">
      <fieldset>
        <legend>Living habits</legend>
        <?php if (!empty($overnighter)):?>
        <p>
          <strong>Late guests...</strong><br />
          <?=$overnighter?>
        </p>
        <?php endif;//overnight?>
        <?php if (!empty($cleanliness)):?>
        <p>
          <strong>Cleanliness...</strong><br />
          <?=$cleanliness?>
        </p>
        <?php endif;//clean?>
        <?php if (!empty($smoking)):?>
        <p>
          <strong>Smoking:</strong><br />
          <?=$smoking?>
        </p>
        <?php endif;//smoking?>
        <?php if (!empty($pets)):?>
        <p>
          <strong>Pets:</strong><br />
          <?=$pets?>
        </p>
        <?php endif;//pets?>
      </fieldset>
    </div>
    <?php endif;//living habits?>
  </div>
  <?php endif;?>
  <?php if (!empty($hobbies)):?>
  <h4>My hobbies include..</h4>
  <p>
    <?=implode(', ', $hobbies)?>
  </p>
  <?php endif;?>
  <?php if (!empty($description)):?>
  <h4>Other information about me...</h4>
  <p>
    <?=$description?>
  </p>
  <?php endif;?>
</div>
