<?php $templateDir = PHPWS_SOURCE_DIR . 'mod/properties/templates/roommate/';?>
<div class="roommate-view container">
  <?php if ($contact_allowed) {include $templateDir . 'ContactInfo.html';}?>
  <?php if (!$contact_allowed) {include $templateDir . 'NoContact.html';}?>

  <?=$active ? null : '<div class="text-center alert alert-danger">Your request is disabled and no one can view it. <a href="./properties/Roommate/edit">Update your roommate request</a> to enable</div>'?>
  <h3>
    Ready to move: <?=$move_in_date?>
  </h3>
  <div class="row">
    <?php if ($about_me) {include $templateDir . 'AboutMe.html';}?>
    <?php if ($college_life) {include $templateDir . 'College.html';}?>
    <?php if ($living_habits){include $templateDir . 'LivingHabits.html';}?>
    <?php if (!empty($hobbies)):?>
    <div class="<?=$columns?>">
      <fieldset>
        <legend>Hobbies</legend>
          <p>
            <?=implode(', ', $hobbies)?>
          </p>
      </fieldset>
    </div>
    <?php endif;?>
  </div>
  <?php if (!empty($description)):?>
  <h4>Other information about me...</h4>
  <p>
    <?=$description?>
  </p>
  <?php endif;?>
</div>
