.roommate-view {
    font-size : 16px;
}

.roommate-view a.social:hover {
    text-decoration: none;
}

.roommate-view .contact-info {
  font-size : 1.5em;
}

.roommate-view h2 {
    margin: 0px 0px .5em 0px;
}

.roommate-view fieldset {
  margin-bottom : 2em;
}

.bullet {
    color : #c3c3c3;
    margin : 0px 1em;
}